@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
*{
    font-family :'MBC1961GulimM';
    color:white;
}
#root{
    background-color:rgba(33,37,41);
    width:100%;
    height:100%;
}

.Link-item{
    color:rgba(255,255,255,0.8);
    text-decoration:none;
    margin-right:15px;
    font-size: 20px;
}
.Link-item:active{
    color:red;

}

.banner-img{
    width:100%;
    height:600px;
    position:relative;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.5);

}
/*::before: 선택된 요소의 첫번째 자식요소를 생선*/
.banner-img::before{
    content:"";
    background : linear-gradient(to right, black, transparent); 
    width:50%;
    height:600px;
    position:absolute;z-index:1;

}

.banner-item{
    padding:15px;

    left:3%;
    width:20%;
    top:200px;
    position:absolute;
    z-index:1;
}

.carousel{
    display:flex;
  

}

.react-multi-carousel-item{
    margin-left:10px;
    margin-bottom:30px;
    width:360px !important;
    height:520px;
    
}


.card-item{
    margin:0px;
    width:342px;
    height:510px;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    cursor: pointer;

}

.card-item:hover .overlay{
    background-color:rgba(0,0,0,0.9);
    opacity: 1;

}
.card-item-btn{
    background-color: transparent;
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    padding:3px;
}

.overlay{
    opacity: 0;
    font-size: 20px;
    width:342px;
    height:510px;
    display:flex;
    flex-direction: column;
    padding:25px;
    text-align: center;
    justify-content: center;
}

.modal-movie{
    width:70%;
    height:70vh;
    top:15%;
    left:15%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0,1);
    position:fixed;
    z-index:1000;
    display: flex;
    
}



.modal-movie-left{
    width:65%;
    position:relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.modal-movie-left-img{
    position:absolute;
    width:100%;
    height:70vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-movie-right{
    width:35%;
    top:5%;
    position:relative;
    display:flex;
    margin:30px;
    flex-direction: column;
    text-align: center;

}
.modal-movie-btn{
    background-color: transparent;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    position:absolute;
    top:-7%;
    right: -2%;
}
.modal-movie-date{
    margin-top: 10px;
}
.modal-movie-overview{
    
    width:95%;
    margin-top:30px;
    margin-left:15px;
    font-size: 15px;
    line-height:23px;
}
.video{
    bottom:10%;
    position:absolute;
    width:100%;
    height:35%;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;

}